<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black py-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/images/logo.png" alt="Logo">
            </a>            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('index') }}">Home</a>
                    </li>                                       
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#features">Features</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row" style="height: 30px;"></div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/static/images/background.jpeg" class="img-fluid" alt="Background Image">
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <p class="text-muted large-text">
                Jacks App Inc. is a service marketplace platform designed to bring convenience and trust to on-demand services, starting with a premium personal driver service. Jacks connects users with vetted drivers within a 15-mile radius who serve as personal chauffeurs, driving users in their own or rented vehicles. Initially launching in New York, Jacks aims to target affluent urban areas and expand its offerings to cover various personal services over time. With a strong focus on customer satisfaction, we’re committed to listening to client needs, providing tailored solutions, and building lasting relationships with both customers and service providers. Our platform is designed to be the go-to solution for reliable, flexible, and premium service options.
            </p>
          </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('driver_registration') }}'">Pre-Register</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
