<!-- index.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <style>
        .centered-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
        }
        
        .centered-image {
            width: 80%;
            height: auto;
        }

        /* Desktop screens */
        @media (min-width: 768px) {
            .centered-image {
                max-width: 600px;
            }
        }

        /* Mobile screens */
        @media (max-width: 767px) {
            .centered-image {
                max-width: 90%;
                margin: 1rem auto;
            }
            .centered-image-container {
                margin: 1rem auto;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="centered-image-container">
            <img src="/static/images/background.jpeg" class="centered-image" alt="Background Image">
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('driver_registration') }}'">PRE-REGISTER NOW</button>
            </div>
        </div>
    </div>
{% endblock %}
